<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>org.acidanthera.driver.CPUFriendDataProvider</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>CPUFriendDataProvider</string>
  <key>CFBundlePackageType</key>
  <string>KEXT</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.1</string>
  <key>CFBundleVersion</key>
  <string>1.0.1</string>
  <key>IOKitPersonalities</key>
  <dict>
    <key>CPUFriendDataProvider</key>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.apple.driver.AppleACPIPlatform</string>
      <key>IOClass</key>
      <string>AppleACPICPU</string>
      <key>IONameMatch</key>
      <string>processor</string>
      <key>IOProbeScore</key>
      <integer>1100</integer>
      <key>IOProviderClass</key>
      <string>IOACPIPlatformDevice</string>
      <key>cf-frequency-data</key>
      <data>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBsaXN0IFBV
QkxJQyAiLS8vQXBwbGUgQ29tcHV0ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5h
cHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAi
PgogIDxkaWN0PgogICAgPGtleT5wbXNwRmlsZTwva2V5PgogICAgPGludGVnZXI+MTM8L2ludGVn
ZXI+CiAgICA8a2V5PklPUGxhdGZvcm1Qb3dlclByb2ZpbGU8L2tleT4KICAgIDxkaWN0PgogICAg
ICA8a2V5PkNQVUZsb29yPC9rZXk+CiAgICAgIDxpbnRlZ2VyPjEwMDA8L2ludGVnZXI+CiAgICAg
IDxrZXk+Qm9vc3RMaW1pdDwva2V5PgogICAgICA8aW50ZWdlcj4wPC9pbnRlZ2VyPgogICAgICA8
a2V5PlVuaWZpZWRTbGVlcFNsaWRlclByZWY8L2tleT4KICAgICAgPHRydWUvPgogICAgICA8a2V5
PlB1Ymxpc2hCYXR0ZXJ5RmFjdG9yczwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+TmV0
d29ya1RpbWVyRGVsYXk8L2tleT4KICAgICAgPGludGVnZXI+OTAwPC9pbnRlZ2VyPgogICAgICA8
a2V5PlN0YW5kYnlEZWxheUhpZ2g8L2tleT4KICAgICAgPGludGVnZXI+ODY0MDA8L2ludGVnZXI+
CiAgICAgIDxrZXk+U3RhbmRieURlbGF5PC9rZXk+CiAgICAgIDxpbnRlZ2VyPjEwODAwPC9pbnRl
Z2VyPgogICAgICA8a2V5PlN0YW5kYnlCYXR0ZXJ5VGhyZXNob2xkPC9rZXk+CiAgICAgIDxpbnRl
Z2VyPjUwPC9pbnRlZ2VyPgogICAgICA8a2V5PklPUGxhdGZvcm1TeXN0ZW1TbGVlcFBvbGljeTwv
a2V5PgogICAgICA8ZGF0YT5VMHhRVkFJQUNnQUlBQUFBQ0FBQUFBQUFBQUFBQUFBQUJRQUFBQUFB
QUFBRkFRQUFBUUFBQUFBQVFBQUFBRUFBQUFBUUFBQUFFQUFICkFBQUFBQUFBQUEvZGh3RUFBQUFB
SUFBQUFDQUFBQUFBQUFBQUFBQUFBQVVBQUFBQUFBQUFEOTJIQVFBQUFBREVGZ0FBQUFBQUFBZ0EK
QUFBSUFBQUFCUUFBQUFBQUFBQVAzWWNCQUFBQUFNUVdFQUFBQUJBQUlFQUFBQ0JBQUFBSEFBQUFD
QUFBQUEvZGh3RUFBQUFBeEJZQQpBQUFBQUFBZ0FBQUFJQUFBQUFVQUFBQUFBQUFBRDkySEFRQUFB
QURFRmdBQUFBQUFBQWlBQUFBSWdBQUFCUUFBQUFBQUFBQVAzWWNCCkFBQUFBTVFXQUFBQUFBQUFB
TUFBQUFEQUFBQUhBQUFBQ0FBQUFBL2Rod0VBQUFBQXhCWUFBQUFBQUFBQUFBQUFBQUFBQUFjQUFB
QUIKQUFBQUQ5MkhBUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQndBQUFBQUFBQUFQM1ljQkFB
QUFBQT09PC9kYXRhPgogICAgICA8a2V5PkZyZXF1ZW5jaWVzPC9rZXk+CiAgICAgIDxkaWN0Pgog
ICAgICAgIDxrZXk+MzkwMDwva2V5PgogICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAgICAg
ICAgPGtleT40NTAwPC9rZXk+CiAgICAgICAgPGludGVnZXI+MTwvaW50ZWdlcj4KICAgICAgPC9k
aWN0PgogICAgICA8a2V5PkZyZXF1ZW5jeVZlY3RvcnM8L2tleT4KICAgICAgPGFycmF5PgogICAg
ICAgIDxkYXRhPgpBZ0FBQUFnQUFBQUJBQUFBQUFBQUFDUVRBQUFBQUFBQXlBQUFBQUFBQUFBQVpP
Z0RBQUFBQUFBQUFFdlFCd0FBQUFBQUFBQXkvLy8vCi8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUJFQUFBQUJBQUFBQUFBQUFLZ1dBQUFBQUFB
QXlBQUFBQUFBQUFBQlpPZ0RBQUFBQUFBQUFVdlFCd0FBCkFBQUFBQUV5dUFzQUFBQUFBQUFBR2FB
UEFBQUFBQUFBQUFELy8vLy8vLzhQQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJRQUFBQUJBQUFB
QUFBQUFNZ1pBQUFBQUFBQXlBQUFBQUFBQUFBQ1pQUUJBQUFBCkFBQUFBakxvQXdBQUFBQUFBQUla
M0FVQUFBQUFBQUFCTXRBSEFBQUFBQUFBQVJtNEN3QUFBQUFBQUFBeW9BOEFBQUFBQUFBQUdmLy8K
Ly8vLy93OEFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUJvQUFBQUJBQUFBQUFBQUFBZ2dBQUFBQUFBQXlBQUFBQUFBCkFBQURaUFFCQUFBQUFBQUFB
ekxvQXdBQUFBQUFBQU1aMEFjQUFBQUFBQUFDTXJnTEFBQUFBQUFBQWhtZ0R3QUFBQUFBQUFFeS8v
Ly8KLy8vL0R3QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUI4QUFBQUJBQUFBQUFBQUFOZ25BQUFBCkFBQUF5QUFBQUFBQUFB
QUVaUFFCQUFBQUFBQUFCRExvQXdBQUFBQUFBQVFaM0FVQUFBQUFBQUFEUzlBSEFBQUFBQUFBQXpL
NEN3QUEKQUFBQUFBSXlvQThBQUFBQUFBQUNHZi8vLy8vLy93OEFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUNNQUFBQUJBQUFBCkFBQUFBRUE0QUFB
QUFBQUF5QUFBQUFBQUFBQUZaUFFCQUFBQUFBQUFCVExvQXdBQUFBQUFBQVVaM0FVQUFBQUFBQUFF
UzlBSEFBQUEKQUFBQUJESzRDd0FBQUFBQUFBTXlvQThBQUFBQUFBQURHWlFSQUFBQUFBQUFBakwv
Ly8vLy8vOFBBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFHUUFBQUFE
QUFBQUFBQUFBS0NHQVFBQUFBQUF5QUFBQUFBQUFBQUdNdlFCQUFBQUFBQUFCaG5vQXdBQUFBQUFB
QVV5M0FVQUFBQUEKQUFBRkdkQUhBQUFBQUFBQUJESzRDd0FBQUFBQUFBUVpvQThBQUFBQUFBQUVB
SlFSQUFBQUFBQUFBd0QvLy8vLy8vOFBBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEvLy8vLy8vL0R3QUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBRUpCUTB0SFVrOVZU
a1FBQUFBQUFBQUFBR1FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFDUVVrVkJURlJKVFVWZlUw
aFBVbFFBQUFNR0FBQUFBQUFBCkRRQU5BQTBBWkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFCTFJWSk9SVXdBQUFBQUFB
QUFBQUFBQUFaa0FHUUFaQUI5QUpZQXJ3RElBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFrRlJJVWxWZlZFbEZVaklBQUFB
QUFBQUFCV1FBeUFESUFNZ0F5QURJCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFDUVZFaFMKVlY5VVNVVlNNd0FBQUFB
QUFBQUVaQURJQU1nQXlBRElBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUpCVVNGSlZYMVJKUlZJMEFBQUFBQUFB
QUFKa0FKWUF5QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFrRlJJVWxWZlZFbEYKVWpVQUFBQUFBQUFB
QW1RQWxnRElBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQ1FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBWlhCd0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFDUUFBQUFBQUFBQUFBQUFB
QUEKQUFBQWFIZHdBQUFBQUFBQUFBQUFBQUFBQUFFQUFBQnZiZ0FBQUFBQUFBQUFBQUFBQUFBQWFX
OWZZMjl5WlY5amMzUmZiR2x0QUFBQQpBQUFEQUFBQUFBQUFBQUFBQUFBQUFBQUFhVzlmWlhCd1gy
SnZiM04wQUFBQUFBQUFBQUFnQUFBQUFBQUFBQUFBQUFBQUFBQUFhVzlmCmFHbHVkSE1BQUFBQUFB
QUFBQUFBQUFBREFBQUFBQUFBQUFBQUFBQUFBQUFBYVc5amMxOWpjM1JtYkhJQUFBQUFBQUFBQUFB
SUFBQUEKQUFBQUFBQUFBQUFBQUFBQWFXOWpjMTlrYVhObGJtZGhaMlVBQUFBQUFBQUFDVDBBQUFB
QUFBQUFBQUFBQUFBQWFXOWpjMTlsYm1kaApaMlVBQUFBQUFBQUFBQUNBaEI0QUFBQUFBQUFBQUFB
QUFBQUFhVzlqYzE5eWRISnBaMmRsY2dBQUFBQUFBQUJrQUFBQUFBQUFBQUFBCkFBQUFBQUFBYm05
dUxXWnZZMkZzTFhSc2Rtd0FBQUFBQUFENkFBQUFBQUFBQUFBQUFBQUFBQUFBY0dWeVppMWlhV0Z6
QUFBQUFBQUEKQUFBQUFBQUZBQUFBQUFBQUFBQUFBQUFBQUFBQWNtRjBhVzl5WVhSbGJHbHRhWFFB
QUFBQUFBQ0FoQjRBQUFBQUFBQUFBQUFBQUFBQQpkV0p3WXdBQUFBQUFBQUFBQUFBQUFBRUFBQUJ2
Wm1ZQUFBQUFBQUFBQUFBQUFBQUFkWFJwYkdsMGVTMTBiSFpzQUFBQUFBQUFBQUJBCkFBQUFBQUFB
QUFBQUFBQUFBQUFBYkhCdFgzSmhkR2x2QUFBQUFBQUFBQUFBQUFBYUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQo8L2Rh
dGE+CiAgICAgICAgPGRhdGE+CkFnQUFBQWdBQUFBQkFBQUFBQUFBQVBnUkFBQUFBQUFBeUFBQUFB
QUFBQUFBWk9nREFBQUFBQUFBQUV2UUJ3QUFBQUFBQUFBeS8vLy8KLy8vL0R3QUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQklBQUFBQkFBQUFBQUFBQUJn
VkFBQUFBQUFBeUFBQUFBQUFBQUFCWk9nREFBQUFBQUFBQVV2UUJ3QUEKQUFBQUFBRXl1QXNBQUFB
QUFBQUFHYUFQQUFBQUFBQUFBQUQvLy8vLy8vOFBBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQmNB
QUFBQkFBQUFBQUFBQUFBWkFBQUFBQUFBeUFBQUFBQUFBQUFDWlBRQkFBQUEKQUFBQUFqTG9Bd0FB
QUFBQUFBSVozQVVBQUFBQUFBQUJNdEFIQUFBQUFBQUFBUm00Q3dBQUFBQUFBQUF5b0E4QUFBQUFB
QUFBR2YvLwovLy8vL3c4QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQjBBQUFBQkFBQUFBQUFBQUVBZkFBQUFBQUFBeUFBQUFBQUEKQUFBRFpQUUJB
QUFBQUFBQUF6TG9Bd0FBQUFBQUFBTVowQWNBQUFBQUFBQUNNcmdMQUFBQUFBQUFBaG1nRHdBQUFB
QUFBQUV5Ly8vLwovLy8vRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQ0lBQUFBQkFBQUFBQUFBQUR3b0FBQUEKQUFBQXlB
QUFBQUFBQUFBRVpQUUJBQUFBQUFBQUJETG9Bd0FBQUFBQUFBUVozQVVBQUFBQUFBQURTOUFIQUFB
QUFBQUFBeks0Q3dBQQpBQUFBQUFJeW9BOEFBQUFBQUFBQ0dmLy8vLy8vL3c4QUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQ2dBQUFBQkFBQUEKQUFB
QUFDZzhBQUFBQUFBQXlBQUFBQUFBQUFBRlpQUUJBQUFBQUFBQUJUTG9Bd0FBQUFBQUFBVVozQVVB
QUFBQUFBQUVTOUFIQUFBQQpBQUFBQkRLNEN3QUFBQUFBQUFNeW9BOEFBQUFBQUFBREdaUVJBQUFB
QUFBQUFqTC8vLy8vLy84UEFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
QUdRQUFBQURBQUFBQUFBQUFLQ0dBUUFBQUFBQXlBQUFBQUFBQUFBR012UUJBQUFBQUFBQUJobm9B
d0FBQUFBQUFBVXkzQVVBQUFBQQpBQUFGR2RBSEFBQUFBQUFBQkRLNEN3QUFBQUFBQUFRWm9BOEFB
QUFBQUFBRUFKUVJBQUFBQUFBQUF3RC8vLy8vLy84UEFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQS8vLy8vLy8vRHdBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFFSkJR
MHRIVWs5VlRrUUFBQUFBQUFBQUFHUUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUNRVWtWQlRG
UkpUVVZmVTBoUFVsUUFBQU1HQUFBQUFBQUEKRFFBTkFBMEFaQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUJMUlZKT1JV
d0FBQUFBQUFBQUFBQUFBQVprQUdRQVpBQjlBSllBcndESUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWtGUklVbFZmVkVs
RlVqSUFBQUFBQUFBQUJXUUF5QURJQU1nQXlBREkKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUNRVkVoUwpWVjlVU1VW
U013QUFBQUFBQUFBRVpBRElBTWdBeUFESUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBSkJVU0ZKVlgxUkpSVkkw
QUFBQUFBQUFBQUprQUpZQXlBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWtGUklVbFZmVkVsRgpValVB
QUFBQUFBQUFBbVFBbGdESUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFDUUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFaWEJ3QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUNRQUFBQUFB
QUFBQUFBQUFBQQpBQUFBYUhkd0FBQUFBQUFBQUFBQUFBQUFBQUVBQUFCdmJnQUFBQUFBQUFBQUFB
QUFBQUFBYVc5ZlkyOXlaVjlqYzNSZmJHbHRBQUFBCkFBQURBQUFBQUFBQUFBQUFBQUFBQUFBQWFX
OWZaWEJ3WDJKdmIzTjBBQUFBQUFBQUFBQWdBQUFBQUFBQUFBQUFBQUFBQUFBQWFXOWYKYUdsdWRI
TUFBQUFBQUFBQUFBQUFBQUFEQUFBQUFBQUFBQUFBQUFBQUFBQUFhVzlqYzE5amMzUm1iSElBQUFB
QUFBQUFBQUFJQUFBQQpBQUFBQUFBQUFBQUFBQUFBYVc5amMxOWthWE5sYm1kaFoyVUFBQUFBQUFB
QUNUMEFBQUFBQUFBQUFBQUFBQUFBYVc5amMxOWxibWRoCloyVUFBQUFBQUFBQUFBQ0FoQjRBQUFB
QUFBQUFBQUFBQUFBQWFXOWpjMTl5ZEhKcFoyZGxjZ0FBQUFBQUFBQmtBQUFBQUFBQUFBQUEKQUFB
QUFBQUFibTl1TFdadlkyRnNMWFJzZG13QUFBQUFBQUQ2QUFBQUFBQUFBQUFBQUFBQUFBQUFjR1Z5
WmkxaWFXRnpBQUFBQUFBQQpBQUFBQUFBRkFBQUFBQUFBQUFBQUFBQUFBQUFBY21GMGFXOXlZWFJs
YkdsdGFYUUFBQUFBQUFDQWhCNEFBQUFBQUFBQUFBQUFBQUFBCmRXSndZd0FBQUFBQUFBQUFBQUFB
QUFFQUFBQnZabVlBQUFBQUFBQUFBQUFBQUFBQWRYUnBiR2wwZVMxMGJIWnNBQUFBQUFBQUFBQkEK
QUFBQUFBQUFBQUFBQUFBQUFBQUFiSEJ0WDNKaGRHbHZBQUFBQUFBQUFBQUFBQUFhQUFBQUFBQUFB
QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
QUFBCjwvZGF0YT4KICAgICAgPC9hcnJheT4KICAgICAgPGtleT5UaGVybWFsQ29uZmlndXJhdGlv
bjwva2V5PgogICAgICA8ZGljdD4KICAgICAgICA8a2V5PkRvbWFpbjwva2V5PgogICAgICAgIDxk
aWN0PgogICAgICAgICAgPGtleT5DUFU8L2tleT4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAg
ICA8a2V5PlNGSVdpbmRvdzwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj41MDAwMDwvaW50ZWdl
cj4KICAgICAgICAgICAgPGtleT5TRklNYWludGVuYW5jZTwva2V5PgogICAgICAgICAgICA8ZGlj
dD4KICAgICAgICAgICAgICA8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CiAgICAgICAgICAgICAgPHN0
cmluZz40MD0wJSw2ND01MCUsNzI9NjclPC9zdHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4KICAg
ICAgICAgICAgPGtleT5TRklEYXJ3aW5CRzwva2V5PgogICAgICAgICAgICA8ZGljdD4KICAgICAg
ICAgICAgICA8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CiAgICAgICAgICAgICAgPHN0cmluZz40MD0w
JSw2ND01MCUsNzI9NjclPC9zdHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAg
PGtleT5TRklBcHBOYXA8L2tleT4KICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgPGtl
eT5FZmZvcnRDdXJ2ZTwva2V5PgogICAgICAgICAgICAgIDxzdHJpbmc+NDA9MCUsNzI9NjclPC9z
dHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgPGtleT5RT1NUaGVybWFsVGhy
ZXNob2xkczwva2V5PgogICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICA8a2V5PlV0aWxp
dHk8L2tleT4KICAgICAgICAgICAgICA8aW50ZWdlcj42NDwvaW50ZWdlcj4KICAgICAgICAgICAg
ICA8a2V5Pk5vbkZvY2FsPC9rZXk+CiAgICAgICAgICAgICAgPGludGVnZXI+MjUxPC9pbnRlZ2Vy
PgogICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgIDxrZXk+VGhlcm1hbFByZXNzdXJlPC9r
ZXk+CiAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgIDxrZXk+Tm9taW5hbDwva2V5Pgog
ICAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgICAgPGtleT5IaWdoVGhyZXNob2xkPC9r
ZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj42MjwvaW50ZWdlcj4KICAgICAgICAgICAgICAg
IDxrZXk+TG93VGhyZXNob2xkPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4wPC9pbnRl
Z2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgICA8a2V5Pk1vZGVyYXRlPC9r
ZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8a2V5PkhpZ2hUaHJlc2hv
bGQ8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjEwMDwvaW50ZWdlcj4KICAgICAgICAg
ICAgICAgIDxrZXk+TG93VGhyZXNob2xkPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj41
MDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGtleT5IZWF2
eTwva2V5PgogICAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgICAgPGtleT5IaWdoVGhy
ZXNob2xkPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yMDA8L2ludGVnZXI+CiAgICAg
ICAgICAgICAgICA8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVn
ZXI+OTA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICAgIDxrZXk+
VHJhcHBpbmc8L2tleT4KICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+
SGlnaFRocmVzaG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjUwPC9pbnRlZ2Vy
PgogICAgICAgICAgICAgICAgPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4KICAgICAgICAgICAgICAg
IDxpbnRlZ2VyPjE3MDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAg
ICAgPGtleT5TbGVlcGluZzwva2V5PgogICAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAg
ICAgPGtleT5IaWdoVGhyZXNob2xkPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yNTI8
L2ludGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgogICAgICAg
ICAgICAgICAgPGludGVnZXI+MjUxPC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAg
ICAgICAgICAgPC9kaWN0PgogICAgICAgICAgPC9kaWN0PgogICAgICAgICAgPGtleT5HUFU8L2tl
eT4KICAgICAgICAgIDxkaWN0Lz4KICAgICAgICAgIDxrZXk+SU88L2tleT4KICAgICAgICAgIDxk
aWN0Lz4KICAgICAgICA8L2RpY3Q+CiAgICAgIDwvZGljdD4KICAgICAgPGtleT5UQ1BLZWVwQWxp
dmVEdXJpbmdTbGVlcDwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+VENQS2VlcEFsaXZl
RXhwaXJhdGlvblRpbWVvdXQ8L2tleT4KICAgICAgPGludGVnZXI+NDMyMDA8L2ludGVnZXI+CiAg
ICAgIDxrZXk+Tm90aWZpY2F0aW9uV2FrZTwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+
RE5EV2hpbGVEaXNwbGF5U2xlZXBzPC9rZXk+CiAgICAgIDxmYWxzZS8+CiAgICAgIDxrZXk+RGFy
a1dha2VTZXJ2aWNlczwva2V5PgogICAgICA8ZGljdD4KICAgICAgICA8a2V5PkRhcmtXYWtlQmFj
a2dyb3VuZFRhc2tzPC9rZXk+CiAgICAgICAgPGludGVnZXI+MTwvaW50ZWdlcj4KICAgICAgICA8
a2V5PlNsZWVwU2VydmljZXM8L2tleT4KICAgICAgICA8aW50ZWdlcj43PC9pbnRlZ2VyPgogICAg
ICAgIDxrZXk+U2xlZXBTZXJ2aWNlc01vZGVzPC9rZXk+CiAgICAgICAgPGRpY3Q+CiAgICAgICAg
ICA8a2V5Pk1vZGVBPC9rZXk+CiAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgPGtleT5FeHBp
cmF0aW9uPC9rZXk+CiAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAgICAgICAgICAg
IDxrZXk+QmF0dGVyeUZsb29yPC9rZXk+CiAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+
CiAgICAgICAgICAgIDxrZXk+QmFzZUludGVydmFsczwva2V5PgogICAgICAgICAgICA8ZGljdD4K
ICAgICAgICAgICAgICA8a2V5PkFDPC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAg
ICAgICAgICA8a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50
ZWdlcj4zNjAwPC9pbnRlZ2VyPgogICAgICAgICAgICAgICAgPGtleT5CYXNlV2FrZUNhcEludGVy
dmFsPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj44NjQwMDwvaW50ZWdlcj4KICAgICAg
ICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGtleT5CYXR0ZXJ5PC9rZXk+CiAgICAgICAg
ICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+
CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgogICAgICAgICAgICAgICAg
PGtleT5CYXNlV2FrZUNhcEludGVydmFsPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4x
ODA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8L2RpY3Q+CiAg
ICAgICAgICA8L2RpY3Q+CiAgICAgICAgPC9kaWN0PgogICAgICA8L2RpY3Q+CiAgICA8L2RpY3Q+
CiAgPC9kaWN0Pgo8L3BsaXN0Pgo=</data>
    </dict>
  </dict>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2017-2022 PMheart. All rights reserved.</string>
  <key>OSBundleRequired</key>
  <string>Root</string>
</dict>
</plist>
